<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Be the Hero</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/newIncident.css">
</head>

<body>
    <div class="container">
        <section>
            <img src="/img/logo.svg" alt="Be the Hero">

            <h1>Cadastrar novo caso</h1>

            <p>Descreva o caso detalhadamente para encontrar um herói para resolver isso.</p>

            <a href="/ongs" class="back">
                <img src="/img/arrow.svg" class="icon">
                Voltar para a home
            </a>
        </section>

        <form method="POST" action="/incidents">
            <input type="text" name="title" placeholder="Título do caso">
            <textarea name="description" placeholder="Descrição"></textarea>
            <input type="text" name="value" placeholder="Valor em reais">
            <input type="text" name="ong_id" placeholder="ID da ONG">
            <section class="buttons">
                <button type="submit" class="newIncident">Cadastrar</button>
            </section>
        </form>
    </div>
</body>

</html>