<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Be the Hero</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="img/logo.svg" alt="Be the Hero">
            <span>Bem vinda, NOME DA ONG</span>
            <button type="button" onclick="newIncident.hbs">Cadastrar novo caso</button>

            <a href="/views/index.hbs">
                <img src="img/power.svg" alt="Logout">
            </a>
        </header>

        <h1>Casos cadastrados</h1>

        <section>
            {{#each incidents}}
            <ul>
                <li><strong>CASO:</strong>{{title}}</li>

                <li><strong>DESCRIÇÃO:</strong>{{description}}</li>

                <li><strong>VALOR:</strong>{{value}}</li>

                <img src="img/bin.svg" class="icon" alt="Delete">
            </ul>
            {{/each}}
        </section>
    </div>
</body>

</html>