<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Be the Hero</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container">
        <section>
            <img src="/img/logo.svg" alt="Be the Hero">

            <h1>Cadastro</h1>
            <p>Faça seu cadastro, entre na plataforma e ajude pessoas a encontrarem os casos da sua ONG.</p>

            <a href="/ongs" class="back">
                <img src="/img/arrow.svg" class="icon">
                Voltar para o logon
            </a>

        </section>

        <form method="POST" action="/ongs">
            <input type="text" name="username" placeholder="Nome da ONG">
            <input type="text" name="email"  placeholder="E-mail">
            <input type="text" name="whatsapp"  placeholder="WhatsApp">
            <section>
                <input type="text" name="city"  id="city" placeholder="Cidade">
                <input type="text" name="uf"  id="uf" placeholder="UF">
            </section>
            <input type="password" name="password"  placeholder="Senha">
            <button type="submit" class="button">Cadastrar</button>

        </form>
    </div>
</body>

</html>